.primary{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: white;
    background-color: rgb(0, 200, 255);
    cursor: pointer;
}
.primary>span>svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.secondary{
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: white;
    background-color: rgb(111, 228, 28);
    cursor: pointer;
}
